<div data-header></div>
<nav>
	<ul class="tabs">
		{{#each pages}}
		<li><a href="javascript:;" class="js-tab" data-­target="{{@index}}">{{this}}</a></li>
		{{/each}}
	</ul>
</nav>
<div data-tab-container></div>
<div data-footer></div>
